/* version mobile */
#popup{
    display: block;
    position: relative;
}
.sond{
    position: fixed ;
}
main{
    padding-top: 30px;
}
main h1{
    text-align: center;
    padding-top: 6px;
}
.titre {
    background-color: #00E6D6;
    border: solid 1px black;
    border-radius: 30px;
    height: 6vh;
    width: 60%;
    margin: 0 auto 18px;
  
}
#popupForm{
    height: 20vh;
    width: 50%;
    display: block;
}
section {
    padding-top: 20px;
    height: 80vh;
    text-align: center;
    background-color: #00E6D6;
    width: 90%;
    margin: 0 auto;
    border-radius: 39px;
    border: white solid 1px;
    visibility: visible;
}

#points {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.quizz_a{
    height: 33vh;
}
.réponse h2{
    line-height:100px;
}
.réponse {
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 30px;
    justify-content: space-around;
    margin: 20px auto 0px;
}
#repA, #repB {
    margin-right: 10px;
    background-color: white;
    border: black solid 2px;
    border-radius: 45px 45px;
    cursor: pointer;
}

.envoi input{
    background-color: white;
    border: solid 1.8px black;
    border-radius: 30px;
    height: 6vh;
    width: 60%;
    margin-top: 40px;
    font-family: Fredoka_One;
    cursor: pointer;
}
.envoi input:hover, .réponse div:hover{
    background-color: teal;
}

/* responsive tablette ordinateur */
@media screen and (min-width: 600px ){
    .réponse,.titre{
        width: 40%;
    }
    section{
        width: 60%;
    }
    .envoi input{
       width: 28%;
    }
}